@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: middle;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body{
    font-family: "Pretendard Variable", sans-serif "BRBA_B";
    font-size: 14px;
    font-weight: 24px;
    color: #5d5a58;
}

/*main_banner*/
#main_banner{
    background-color: #f2e8df;
}

.main_banner{
    width: 1320px;
    margin: 0 auto;
    height: 500px;
}

.main_banner .swiper-button-next{
    background-image: url(../image/next.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.main_banner .swiper-button-prev{
    background-image: url(../image/prev.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.main_banner .swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}