@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: middle;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body{
    font-family: "Pretendard Variable", sans-serif "BRBA_B";
    font-size: 14px;
    font-weight: 24px;
    color: #5d5a58;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

section.notice {
    padding: 80px 0;
}
  
.page-title {
    margin-bottom: 60px;
  }
  
#board-search .search-window {
    padding: 15px 0;
    background-color: #f9f7f9;
  }

#board-search .search-window .search-wrap {
    position: relative;

    margin: 0 auto;
    width: 80%;
    max-width: 564px;
}

#board-search .search-window .search-wrap input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
}

#board-search .search-window .search-wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
}

#board-search .search-window .search-wrap .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
}
  
.notice_box {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.notice_box a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}

.notice_box a:hover {
    text-decoration: underline;
}

.notice_box th {
    text-align: center;
}
  
.notice_box .th-num {
    width: 100px;
    text-align: center;
}
  
.notice_box .th-date {
    width: 200px;
}
  
.notice_box th, .notice_box td {
    padding: 14px 0;
}
  
.notice_box tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}
  
.notice_box tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}
  
.notice_box tbody th p{
    display: none;
}
  
.btn {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
  
.btn-color {
    background: #5d5a58;
    color: #fff;
}
  
.btn-color:hover, .btn-color:focus {
    background: #343434;
    border-color: #5d5a58;
    color: #fff;
}
  
  /* reset */

.container {
    width: 1320px;
    margin: 0 auto;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}