*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: top;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body{
    font-family: "Pretendard Variable", sans-serif "BRBA_B";
    font-size: 14px;
    font-weight: 24px;
    color: #343434;
}

/*footer*/
#footer{
    background-color: #ccb8aa;
    height: 300px;
    font-size: 16px;
}

.footer_inner{
    width: 1320px;
    margin: 0 auto;
}

.center{
    font-weight: 600;
    text-align: center;
    position: absolute;
    right: 510px;
    top: 50px;
}

.center .size{
    font-size: 26px;
    padding-bottom: 20px;
}

.center span{
    color: #cf6739;
    font-size: 34px;
}

.center .padding{
    padding: 10px 0;
}

.footer_inner .guide li{
    float: left;
    padding-right: 20px;
}

.footer_inner .guide{
    padding: 50px 0;
    font-family: "BRBA_B";
}

.footer_inner .info{
    float: left;
    font-family: "BRBA_B";
}

.info .padding{
    padding-top: 20px;
    padding-bottom: 50px;
}

.icon{
    float: right;
}

.icon img{
    width: 50px;
}

.icon li{
    float: left;
    padding-left: 10px;
}

#footer{
    background-image: url(../image/footer_logo.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}